@mixin fontStyle ($color, $size, $familly) { 
    color: $color;
    font-size: $size;
    font-family: $familly;
}

@mixin no-select(){
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}