$backgroundColor1: #978EFF; // <== base color / ref color
$backgroundColor2: #63A9FF;
$backgroundColor3: #667cbe;
$backgroundColor4: #d47fa5;
$backgroundColor5: #b97cbf;
$backgroundColor6: #7F49DD;

$fontSizeWelcomeMessage: 25px;

$colorBallHover1: #a69df0; 
$colorBallDiffusion: 100px; //shadow-in diffusion
$colorBallDiffusionHover: 100px;

$backgroundBallItemHover: #645ea0;
$unavailableBallCalendar: lightgrey;