#theme-selector{
    position: fixed;
    top: 8px;
    left: 8px;

    width: 100px;
    padding: 4px 12px;
    color: $fontColorCallToAction;
    text-align: center;

    border: 1px solid rgba($fontColorCallToAction, 0.4);
    border-radius: 16px;

    opacity: 0.3;
    animation: fade-out 1s linear 2s;
    transition: width 0.5s, opacity 0.5s;

    &:hover{
        width: 200px;
        opacity: 1;
        cursor: pointer;

        .switch-left, .switch-right{
            opacity: 1;
        }
    }

    .theme-selector-name{
        display: none;
    }

    .switch-left, .switch-right{
        opacity: 0;
        transition: opacity 0.6s;
    }
    .switch-left{ float: left; }
    .switch-right{ float: right; }
}