#theme-selector{
    position: fixed;
    top: 8px;
    left: 8px;

    padding: 4px 12px;
    color: $fontColorCallToAction;

    border: 1px solid rgba($fontColorCallToAction, 0.4);
    border-radius: 16px;

    opacity: 0.3;

    animation: fade-out 1s linear 2s;

    transition: opacity 0.5s;

    &:hover{
        opacity: 1;
        cursor: pointer;

        .switch-left, .switch-right{
            width: auto;
            height: auto;
        }

        .theme-selector-title{
            display: none;
        }
    }

    .theme-selector-name{
        display: none;
    }

    .switch-left, .switch-right{
        width: 0;
        height: 0;
        overflow: hidden;
        transition: width 0.5s;
    }
}